server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: member-service
          uri: http://localhost:8081
          predicates:
            - Path=/member/**
          filters:
            - AuthenticationFilter
            - StripPrefix=1
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/product/**
          filters:
            - AuthenticationFilter
            - StripPrefix=1
        - id: cart-service
          uri: http://localhost:8083
          predicates:
            - Path=/cart/**
          filters:
            - AuthenticationFilter
            - StripPrefix=1